<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>FIT&GIT</title>
</head>
<body>
<a href="/">Strona startowa</a><br/>
<div class="card text-white bg-dark mb-3" style="max-width: 100%;">
    <h3>Dodawanie nowego przepisu</h3>
</div>
<a href="/">Strona startowa</a><br/>


<form th:action="@{/add}" method="post" th:object="${addRecipe}">
    <div class="form-group">
        <p>Podaj nazwę przepisu</p>
        <input type="text" th:field="*{title}" placeholder="Nazwa przepisu"/>
        <p>Opis przepisu</p>
        <textarea th:field="*{description}" placeholder="Opis przepisu"/>
        <p>Podaj czas przygotowania potrawy</p>
        <input type="time" th:field="*{time}" placeholder="Czas przygotowania"/>
    <br/>
    <input type="submit" value="Dodaj zadanie" class="btn btn-primary"/> <br/>
    </div>
</form>

</body>
</html>