<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>FIT&GIT</title>
</head>

<body>
<div class="card text-white bg-dark mb-3" style="max-width: 75%;">
    <div class="card-body">
        <h2 th:text="${przepis.title}"></h2>
    </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 75%;">
    <div class="card-text">
        <p th:text="|Opis dania: ${przepis.description}|"></p>
    </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 75%;">
    <div class="card-body">
        <p th:text="|Czas przygotowania: ${przepis.time}|"></p>
    </div>
</div>
<br/>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-body">
        <a th:href="|/delete?id=${przepis.Id}|" th:text="Usuń"></a>
    </div>
</div>

<p><a href="/">Powrót</a></p>

</body>
</html>